= form_for @user do |f|
  = f.error_messages
  %caption
    %h2
      %img{:src => "#{@user.avatar}"}
      = "#{@user.name} (#{@user.twitter_user_id})"

  %p
    Email:
    = f.text_field :email
    Show Email to Other Users?
    = f.check_box :show_email
  %p
    Github User Name:
    = f.text_field :github_user_id
    Neighborhood of KC:
    = f.text_field :neighborhood
  %p
    Ruby User Since:
    = f.date_select :ruby_since
  %p
    About:
    = f.text_area :about
  %p
    = f.submit