= form_for @event do |f|
  = f.error_messages
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :time
    %br
    = f.datetime_select :time
  %p
    = f.label :venue_name
    %br
    = f.text_area :venue_name
  %p
    = f.label :description
    %br
    = f.text_area :description
  %p
    = f.label :venue_address1
    %br
    = f.text_field :venue_address1
  %p
    = f.label :venue_address2
    %br
    = f.text_field :venue_address2
  %p
    = f.label :venue_city
    %br
    = f.text_field :venue_city
  %p
    = f.label :venue_state
    %br
    = f.text_field :venue_state
  %p
    = f.label :venue_zip
    %br
    = f.text_field :venue_zip
  %p
    = f.label :venue_map
    %br
    = f.text_field :venue_map
  %p
    = f.label :event_url
    %br
    = f.text_field :event_url
  %p
    = f.submit
