- title "Events"

%table
  %tr
    %th Name
    %th Time
    %th Venue name
    %th Description
    %th Venue address1
    %th Venue address2
    %th Venue city
    %th Venue state
    %th Venue zip
    %th Venue map
    %th Event url
  - for event in @events
    %tr
      %td= event.name
      %td= event.time
      %td= event.venue_name
      %td= event.description
      %td= event.venue_address1
      %td= event.venue_address2
      %td= event.venue_city
      %td= event.venue_state
      %td= event.venue_zip
      %td= event.venue_map
      %td= event.event_url
      %td= link_to 'Show', event
      %td= link_to 'Edit', edit_event_path(event)
      %td= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Event", new_event_path
