- title "Event"

%p
  %strong Name:
  = @event.name
%p
  %strong Time:
  = @event.time
%p
  %strong Venue Name:
  = @event.venue_name
%p
  %strong Description:
  = @event.description
%p
  %strong Venue Address1:
  = @event.venue_address1
%p
  %strong Venue Address2:
  = @event.venue_address2
%p
  %strong Venue City:
  = @event.venue_city
%p
  %strong Venue State:
  = @event.venue_state
%p
  %strong Venue Zip:
  = @event.venue_zip
%p
  %strong Venue Map:
  = @event.venue_map
%p
  %strong Event Url:
  = @event.event_url

%p
  = link_to "Edit", edit_event_path(@event)
  |
  = link_to "Destroy", @event, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", events_path
