- @title =  "Project"

%p
  %strong Title:
  = @project.title
%p
  %strong Description:
  = @project.description
%p
  %strong Member:
  = @project.member_id
%p
  %strong Timestamp:
  = @project.timestamp
%p
  %strong Created:
  = @project.created

%p
  = link_to "Edit", edit_project_path(@project)
  |
  = link_to "Destroy", @project, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", projects_path
