= form_for @podcast do |f|
  = f.error_messages
  = link_to "Delete", @podcast, :confirm => 'Are you sure?', :method => :delete
  = f.submit
  %p
    = f.label :private_video
    %br
    = f.check_box :private_video
  %p
    = f.label :title
    %br
    = f.text_field :title
  %p
    = f.label :description
    %br
    = f.text_area :description
  %p
    = f.label :upload_date
    %br
    = f.date_select :upload_date
  %p
    = f.label :video_url
    %br
    = f.text_field :video_url
  %p
    = f.label :thumbnail_medium
    %br
    = f.text_field :thumbnail_medium
  %p
    = f.label :thumbnail_large
    %br
    = f.text_field :thumbnail_large
  %p
    = f.label :duration
    %br
    = f.text_field :duration  
