- @title = "KC Ruby Podcasts"

%p
  %strong Title:
  = @podcast.title
%p
  %strong Description:
  = @podcast.description
%p
  %strong Video Url:
  = @podcast.video_url
%p
  %strong Thumbnail Medium:
  = @podcast.thumbnail_medium
%p
  %strong Size:
  = @podcast.size
%p
  %strong Duration:
  = @podcast.duration
%p
  %strong Upload Date:
  = @podcast.upload_date
%p
  %strong Thumbnail Large:
  = @podcast.thumbnail_large
%p
  %strong Width:
  = @podcast.width
%p
  %strong Height:
  = @podcast.height
%p
  %strong Private Video:
  = @podcast.private_video

%p

  = link_to "View All", podcasts_path
