#header 
  %h1
    %a{:href => "/"} KC Ruby
  #event
    - @next = Event.next
    %table
      %tr
        %td{:align => "left"}
          %h4
            Our next event:
      %tr
        %td{:align => "center"}
          %h2
            %a{:href => "#{@next.event_url}"}
              #event_title= "#{@next.name}"
      %tr
        %td{:align => "center"}
          %a{:href => "#{@next.venue_map}"}
            #event_place= "#{@next.venue_name}"
      %tr
        %td{:align => "center"}
          #event_datetime= "#{@next.time.strftime("%A %b %d, %Y")} @ #{@next.time.strftime("%I:%M %p")}"
        
  #podcast
    %h3
      %a{:href => "/podcasts"} Latest Podcast
  = render :partial => "layouts/navbar"
      
