#header  
  %h1
    %a{:href => "/"} KC Ruby
  #event
  
    %table
      %tr
        %td{:align => "center"}
          %h2
            #event_title= "#{Event.next.name}"
      %tr
        %td{:align => "center"}
          #event_place= "#{Event.next.venue_name}"
      %tr
        %td{:align => "center"}
          #event_date= "#{Event.next.time.strftime("%A %b %d, %Y")}"
          #event_time= "@ #{Event.next.time.strftime("%I:%M %p")}"
  
  #podcast
    %h3
      %a{:href => "/podcasts"} Latest Podcast
  = render :partial => "layouts/navbar"
      
