.podcast
  %ul
    - for podcast in @podcasts
      %li#podcast_item
        #video
          %iframe{:src => "http://player.vimeo.com/video/#{podcast.id}?title=0&byline=0&portrait=0", :width => "320", :height => "180", :frameborder => "0", :alt => "#{podcast.title}"}
        .information
          #title
            = link_to "#{podcast.title}", "#{podcast.video_url}"
          #duration
            = "Duration: #{print_duration(podcast.duration)}"
          #upload_date
            = "Upload Date: #{podcast.upload_date.strftime("%b %d, %Y")}"