!!!
%html
  %head
    - @site = "KC Ruby"
    - @separator = "|"
    %title= "#{@site} #{@separator} #{@title || "Kansas City's Ruby Community"}"
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
    %meta{'name' => 'description', :content => 'The Kansas City Ruby Community'}    
    %meta{"name" => "viewport", :content => "width=930"}
    %meta{'name' => 'keywords', :content => 'Kansas City, KC, Rails, Ruby, Ruby on Rails, Community, kcrug'}
    %link{:rel => "shortcut icon", :href => "/images/application/favicon.png"}
    = stylesheet_link_tag "application"
    = javascript_include_tag :defaults
    = csrf_meta_tag

  %body
    = render :partial => "layouts/login"
    #page_container
      #page_box
        = render :partial => "layouts/header"
        #page
          #title
            ="#{@title}"
          = yield
        =render :partial => "layouts/footer"
