= form_for @member do |f|
  = f.error_messages
  %h2
    %img{:src => "#{@member.avatar}"}
    = "#{@member.name} (#{@member.twitter_user_id})"
  
  %p
    Email:
    = f.text_field :email
    Show Email to Other Members?
    = f.check_box :show_email
  %p
    Github Member Name:
    = f.text_field :twitter_user_id
    Neighborhood of KC:
    = f.text_field :neighborhood
  %p
    Ruby Member Since:
    = f.date_select :ruby_since
  %p
    About:
    = f.text_area :about
  %p
    = f.submit